.record {
  z-index: 2;
  width: 350px;
  height: 350px;
  animation: record-rotation 20s infinite linear;
  animation-delay: 4s;
  margin-right: 135px;
}

.recordPlayerNeedle {
  z-index: 3;
  width: 500px;
  height: 400px;
  animation: record-player-needle-rotation 4s linear forwards;
  animation-duration: 4s;
  transform-origin: top right;
  overflow: hidden;
  margin-left: 25px;
}

.recordPlayer {
  z-index: 1;
  width: 540px;
  height: 440px;
}

@keyframes record-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes record-player-needle-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(15deg);
  }
}

@media (max-width: 560px) {
  .record {
    width: 200px;
    height: 200px;
    margin-right: 80px;
  }

  .recordPlayerNeedle {
    width: 240px;
    height: 240px;
  }

  .recordPlayer {
    width: 300px;
    height: 240px;
  }
}
